<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9943b38b-e716-481b-bf30-ca313dd73fb7/resourcegroups/AzureDeploymentDemo20260821134401ResourceGroup/providers/Microsoft.Web/sites/AzureDeploymentDemo20260821134401</ResourceId>
    <ResourceGroup>AzureDeploymentDemo20260821134401ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuredeploymentdemo20260821134401-araxb3gnd0cdbkad.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>62ae963a-23c0-4d8b-aea4-8ef54cb48871</ProjectGuid>
    <MSDeployServiceURL>azuredeploymentdemo20260821134401-araxb3gnd0cdbkad.scm.australiaeast-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzureDeploymentDemo20260821134401</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>